.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #171717;
  height: 100vh;
  color: #fff;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  box-sizing: border-box;
}
