html,
body {
    font-family: sans-serif;
    text-align: center;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

input {
    outline: none;
    padding: 1em;
    border-radius: 15px;
    box-shadow: none;
    border: 2px solid pink;
    font-family: "Avenir Next";
    font-size: 20px;
}
